@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&family=Montserrat:wght@500&display=swap');

*{
margin: 0;
padding: 0;
font-family: Montserrat, Genos;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: #FD894D;
    display: flex;
    flex-direction: column;
   
}
.logoLand{
    width: 100px;
    margin-left: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
     margin-top: 20px;
}
nav ul li a{
     text-decoration: none;
     color: white;
     margin-right: 50px;
     font-size: 12px;
   
}
.title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.title h1{
    color: white;
    font-family: Montserrat, Genos;
}
.title p {
    font-size: 12px;
}
.butt a {
    text-decoration: none;
}


.but1 {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
   border: none;
    font-size: 9px;
}
.but2 {
    background-color:#FD894D ;
    color: white;
    width: 90px;
    height: 30px;
    margin-right: 100px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 9px;
}
main{
    display: flex;
}
main h1{
    color: #4FACD3;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 50px;
}
main h2{
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;
}
main p{
    font-size: 12px;
}
 span{
    color: #FD894D ;
}
.reach{
    width: 700px;
    margin-left: 20px;
    
    padding-left: 100px;
}
.reach p {
    margin-bottom: 40px;
}
.contact{
    display: flex;
    flex-direction: column;
   
}
.contact input{
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px 5px;
    border: none;
    border: 1px solid #c5bfbf;
}
.contact textarea{
    border: none;
    border: 1px solid #c5bfbf;
}
#sub{
    border: none;
    width: 100px;
    height: 40px;
    background-color: #FD894D ;
    color: white;
    margin-top: 25px;
    margin-left: 400px;
    margin-bottom: 70px;
    
}
.lander{
    padding-left: 50px;
    padding-right: 100px;
    margin-right: 100px;
}
.social img{
    width: 30px;
    height: 30px;
    background-color: #FD894D;
    padding: 10px;
    border-radius: 50%;
}
.social p{
    margin-left: 30px;
}
.social_link{
    display: flex;
    align-items: center;
   
    margin-bottom: 30px;
}

footer{
    background-color: #424242;
}

.info{
    
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 50px 20px 20px 50px;
}
.info li{
list-style: none;
margin: 0;
line-height: 15px;

}

.info a{
    text-decoration: none;
    font-size: 9px;
    color: #797676;
    margin: 0;
    
}
#change{
    color: white;
}
.commercial p{
    font-size: 9px;
    color: white;
    margin-top: 5px;
}
.about{
    margin-right: 80px;
}
.help{
    margin-right: 80px;
}
.resource{
    margin-right: 80px;
}
.pages{
    margin-right: 80px;
}
.commercial{
    margin-right: 80px;
}
.try{
    margin-right: 60px;
}
.logo_link{
    width: 20px;
    color: #FD894D;
    display: flex;
    margin-top: 5px;
}
.logo_link img{
    margin-right: 5px;
}

.but3{
    border: none;
    background-color: #012334;
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 10px;
    margin-top: 25px;
}
.all_right{
    display: flex;
    align-items: center;
    background-color: #363636;
    font-size: 9px;
    height: 30px;
}
.all_right p{
    margin-left: 100px;
    color:#797676 ;
}
@media screen and (max-width:700px){
   .reach{
       margin: 0;
       padding: 0;
   }
   nav{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      width:100%;
   }
   
   nav ul li a{
       margin-right: 15px;
       
   }
   .logoLand{
       position: absolute;
       padding-top: 15px;
       order: 1;
       margin: 0;
       margin-right: 150px;
   }
   nav ul{
       display: flex;
       justify-content: center;
       order: 3;
   }
   .butt{
       position: relative;
       display: flex;
       flex-direction: row;
       order: 2;
       margin-left: 200px;
       margin-top:30px;
       
       
       
    
     }
   .but2{
      margin-right: 15px;
      padding: 0;
      margin: 0;
      width: 60px;
      height:20px;
      margin-bottom: 30px;
     }
   .but1{
       margin: 0;
      margin-right: 15px;
       width: 80px;
       height:20px;
   }
    main{
       display: flex;
       flex-direction: column;
       justify-content: center;
       
   }
    .formulaire input{
       
       max-width: 300px;
     
     
   }
   .formulaire{
       width: 350px;
       display: flex;
       flex-direction: column;
      align-items: center;
   }
  .formulaire textarea{
       width: 300px;
       

   }
   #sub{
       margin-left: 20px;
       margin-bottom: 0;
   }
   .title{
       margin-top: 30px;
   }
   .title p{
       font-size: 10px;
       margin-left: 20px;
       margin-right: 20px;
   }
   .title1{
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: column;
       margin-left: 40px;
       align-items: center;
       width: 300px
   }
   .lander{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
}
.others_ways{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 h1{
    margin-top: 0;
    padding-top: 0;
   
}
.info{
    margin: 0;
    padding-left: 0px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about{
    margin: 0;
    padding: 0;
    margin-right: 15px;
}
.help{
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
.resource{
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
.pages{
    margin: 0;
    padding: 0;
    margin-right: 110px;
}
.commercial{
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
.try{
    margin: 0;
    padding: 0;
    margin-right:145px;
}
.all_right p{
margin-left: 50px;

}



}